*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
out

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Cava
slic3r_win/cava20-logs
slic3r_win/cava20-temp
slic3r_win/installer
slic3r_win/release
slic3r_win/cava20/msw/scan.data
slic3r_linux/cava20-logs
slic3r_linux/cava20-temp
slic3r_linux/installer
slic3r_linux/release
slic3r_linux/cava20/linux/scan.data

# x2sw
x2sw_build/build
x2sw_build/dist
x2sw_build/*.log
